[submodule "pelican-octopress-theme"]
	path = pelican-octopress-theme
	url = https://github.com/duilio/pelican-octopress-theme
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
